/* Default */
body{
    height: 100vh;
    background: linear-gradient(to bottom, #128C7E 0 15%, #ECE5DD 15% 100%);
}

/* Utils */
.bg-chat{
    background-image: url('../img/mine.jpg');
}
.bg-lightblue{
    background-color: #34B7F1;
}
.clickable{
    cursor: pointer;
}

/* Main */
ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
li:hover{
    background-color: #ccc;
}

#root .container{
    height: 90%;
}
main {
    height: 100%;
}

#chat header,
#chat footer{
    height: 70px;    
}

.media{
    height: 100%;
    display: flex;
    align-items: center;
}

.media figure{
    height: 70px;
    padding: .5rem;
    margin-bottom: 0;
}

.media img{
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.media .media-text{
    margin-left: .5rem;
}

.media .media-icon{
    width: 50px;
    height: 50px;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.search{
    background-color: #ccc;
}